<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button id='goToRankingsPage'>Go To Rankings</button>
    <div class="imageArea">
      <div id="girl1" class="girlpic">
        <img src="" alt="girl1" >
      </div>
      <div id="girl2" class="girlpic">
        <img src="" alt="girl2" >
      </div>
    </div>


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
